#loading {width: 100%;height: 100%;top: 0px;left: 0px;position: fixed;display: block; z-index: 99}

#loading-image {position: absolute;top: 40%;left: 45%;z-index: 100}

body,html {
    font-size:100%;
    margin:0;
    overflow:hidden;
    padding:0;
}

body {
    background:#fff;
    color:#000;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

a {
    color:#000;
    text-decoration:none;
}

ol {
    list-style:none;
    margin:0;
    padding:0;
}

ol > li {
    display:inline-block;
    max-width:100%;
	padding: 1px;
}

ol a:link {
    color:#000;
    display:block;
    padding:2px;
    text-decoration:none;
    font-weight: bold;
}

ol a:visited {
    color:#000;
}

ol a:hover {
    color: #fff;
	background-color: #0047FF;
}
ol .selectedpart a {
    color: #fff;
    background-color: #FFB800;
}

path, rect, circle, ellipse, line, polyline, polygon {
    fill-opacity: 0;
}

path:hover, rect:hover, circle:hover, ellipse:hover, line:hover, polyline:hover, polygon:hover {
    fill-opacity: 0.5;
    cursor: pointer;
}

svg .selectedpart {
	stroke: #FFB800;
	stroke-width: 12;
	stroke-linejoin: bevel;
	fill-opacity: .85;
}

.bb {
    overflow: hidden;
}

.bb svg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.label {
	padding: 6px 0 2px 5px;
	color: black;
	font-family: monospace;
	font-style: oblique;
}

.partpanel {
    position:fixed;
    left:0;
    top:0;
	z-index:3;
	background:rgba(245, 245, 245, 0.92);
    box-shadow:0 0 3px 1px #111;
    min-width: 200px;
    max-width: 600px;
}

#textfilter {
	padding: 7px 0px 4px 7px;
	width: 100%
}

input#filter {
width: 82%;
}

.partlist {
    padding:4px 6px;
}

.arrow {
	width: 0; 
	height: 0; 
	border: 10px;
}

#open-arrow {
	border-top: 16px solid transparent;
	border-bottom: 16px solid transparent;
	border-left: 16px solid black;
}

#close-arrow {
	border-top: 16px solid transparent;
	border-bottom: 16px solid transparent;
	border-right: 16px solid black;
}

.controls {
	background:rgba(245, 245, 245, 0.6);
	bottom:0;
	box-shadow:0 0 3px 1px #111;
	color:#223222;
	padding:4px 6px;
	position:fixed;
	right:0;
	z-index:2;
}

.inverted {
  -webkit-filter: invert(100%);
     -moz-filter: invert(100%);
       -o-filter: invert(100%);
      -ms-filter: invert(100%);
}

.hidden {
    display: none;
}