* {
transition: width 500ms, height 500ms, transform 300ms;
transition-timing-function: ease-in;
}

body,html {
    font-size:100%;
    margin:0;
    padding:0;
}

body {
    background:#fff;
    color:#000;
    font-family: Calibri, 'Segoe UI', Sans, 'Gill Sans', 'Lucida Grande', sans-serif;
}

a {
    color:#000;
    text-decoration:none;
}

#loading {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	position: fixed;
	display: block;
	z-index: 99;
	background: white;
	text-align: center;
}

#loading-image {
	position: relative;
	top: 16em;
	z-index: 100;
}

#loading-text {
	font-size: xx-large;
	top: 50%;
	position: relative;
	z-index: 100;
}

.tinytext {
	font-size: small;
	top: 55%;
	position: relative;
	text-decoration: underline;
}

svg [id^="_"] {
    fill-opacity: 0;
}

svg [id^="_"]:hover {
    fill-opacity: 0.5;
    cursor: pointer;
}

svg .selectedcomponent {
	stroke: #FFB800;
	stroke-width: 12;
	stroke-linejoin: bevel;
	fill-opacity: .85;
}

.bb {
    overflow: hidden;
}

.bb svg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

#componentpanel {
    position:fixed;
    left:0;
    top:0;
}

ol {
    list-style:none;
    margin:0;
	padding: 8px 6px 6px 8px;
}

ol > li {
	display: list-item;
    max-width:100%;
	padding: 1px;
}

ol a:link {
    color:#000;
    display:block;
    padding:2px;
    text-decoration:none;
    font-weight: bold;
}

ol a:visited {
    color:#000;
}

ol a:hover {
    color: #fff;
	background-color: #0047FF;
}
ol .selectedcomponent a {
    color: #fff;
    background-color: #FFB800;
}

ol.components {
	border: 1px solid #111;
}

.panel {
	z-index:3;
	min-width: 240px;
	max-width: 768px;
	line-height: 1.1em;
	background:rgba(245, 245, 245, 0.92);
    box-shadow:0 0 3px 1px #111;
}

.name {
	font-style: italic;
	border-bottom: 2px solid #111;
	font-weight: 800;
	padding: 0px 3px 0px 3px;
}

.name:hover {
	background: #111;
	cursor: pointer;
	color: #fff;
}

#componentlist {
	max-height: 75vh;
	overflow: scroll;
	overflow-x: hidden;
	position: fixed;
	top: 3.5em;
	left: 0px;
}

#componentlist .quantity {
    float: right;
	margin: 0px 4px 0px 3em;
}

#label {
	padding: 7px 8px 0px 8px;
	color: black;
	font-family: monospace;
	font-size: large;
}

#textfilter {
	display: inline;
	padding: 0px 2px 2px 8px;
}

#filter {
	width: 67%;
}

#hidelist {
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	border-bottom: 10px solid rgb(150, 5, 5);
	display: inline-block;
	margin: 0px 2px;
	cursor: pointer;
}

.rotatopotato {
	transform:rotate(180deg);
}

.controls {
	background:rgba(245, 245, 245, 0.7);
	bottom:0;
	box-shadow:0 0 3px 1px #111;
	color:#223222;
	padding:4px 6px;
	position:fixed;
	right:0;
	z-index:2;
}

.inverted {
	-webkit-filter: invert(100%);
	-moz-filter: invert(100%);
	-o-filter: invert(100%);
	-ms-filter: invert(100%);
}

.hidden {
    position: absolute !important;
	left: -500em !important;
}

@media all and (max-width: 767px) {
	a.component {
		line-height: 2em;
	}

	.panel {
		width: 100% !important;
	}
	
	ol a:hover {
		color: #fff;
		background-color: #000;
	}

	.controls {
		display: none;
	}

	#label {
		font-style: normal;
		top: 0px;
		font-size: large;
		font-weight: 700;
	}

	input#filter {
		width: 65% !important;
	}
}