@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body,html {
    font-size:100%;
    margin:0;
    overflow:hidden;
    padding:0;
}

body {
    background:#fff;
    color:#223222;
    font-family:Lato, Calibri, Arial, sans-serif;
}

a {
    color:#000;
    text-decoration:none;
}

ol {
    list-style:none;
    margin:0;
    padding:0;
}

ol > li {
    display:inline-block;
    max-width:100%;
}

ol a:link {
    color:#000;
    display:block;
    padding:2px;
    text-decoration:none;
    font-weight: bold;
}

ol a:visited {
    color:#000;
}

ol a:hover, ol .selectedpart a {
    background-color:#0047FF;
    color:#fff;
}

path, rect, circle, ellipse, line, polyline, polygon {
    fill-opacity: 0;
}

path:hover, rect:hover, circle:hover, ellipse:hover, line:hover, polyline:hover, polygon:hover {
    fill-opacity: 0.5;
    cursor: pointer;
}

svg .selectedpart {
	stroke: #9B9B9B;
	stroke-width: 12;
	stroke-linejoin: bevel;
	fill-opacity: .85;
}

.map_tooltip {
-moz-border-radius:6px!important;
-webkit-border-radius:6px!important;
border-radius:6px!important;
-webkit-border-width: 2px !important;
-moz-border-width: 2px !important;
border-width: 2px !important;
font-size:16px!important;
font-weight:600!important;
background: #000 !important;
color: #fff !important;
}

.bb {
    overflow: hidden;
}

.bb svg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

#btnZoomOut,#btnZoomIn {
width:22px;
}

.panel {

}

#textfilter {
    position:fixed;
    left:0;
    top:0;
    z-index:2;
    background:rgba(245, 245, 245, 0.6);
    box-shadow:0 0 3px 1px #111;
    padding:4px 6px;
    font-size: 10pt;
    font-weight: bold;
}

.partlist {
    background:rgba(245, 245, 245, 0.72);
	position:fixed;
    left: 0;
	top: 60px;
    box-shadow:0 0 3px 1px #111;
    max-height:700px;
    min-width: 200px;
    max-width: 600px;
    padding:4px 6px;
    z-index:3;
}

#close {
color:#000;
filter:alpha(opacity=40);
font-size:18px;
font-weight:700;
opacity:0.4;
text-decoration:none;
float:right;
text-shadow:0 1px 0 #fff;
padding-left: 3px;
width:12px;
}

#close:hover {
cursor:pointer;
filter:alpha(opacity=90);
opacity:0.9;
text-decoration:none;
}

.footer {
background:rgba(245, 245, 245, 0.6);
bottom:0;
box-shadow:0 0 3px 1px #111;
color:#223222;
padding:4px 6px;
position:fixed;
right:0;
z-index:1;
}

#leftfootnav {
left:0;
display:table;
font-size:.68em;
padding-right:10px;
}

#leftfootnav a {
color:#000;
display:inline-block;
letter-spacing:.1em;
}

#leftfootnav a:hover {
background:#fff;
color:#333;
}

#rightfoot {
max-width:75%;
right:0;
}

@media min-width 40625em{
	#leftfootnav {
	line-height:2.2;
	}

	.footer {
	font-size:12px;
	padding:4px 6px;
	}
}

.inverted {
  -webkit-filter: invert(100%);
     -moz-filter: invert(100%);
       -o-filter: invert(100%);
      -ms-filter: invert(100%);
}

.hidden {
    display: none;
}